html,body,h1,h2,h3,h4,h5,h6,p,div,section,main,footer,span,input,form,button{
 margin: 0;
 padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(-45deg,#490f60,#8e44ad);

  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
}

.background-logo{
  font-size: 20rem;
  color: #341242b3;
  position: absolute;
  top: -35px;
  left: 50px;
  z-index: -1;
}

.input-box{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-text{
  font-family: Dosis,sans-serif;
  color: #f2f2f2;
  font-size: 2.5rem;
}

.form-input{
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 2rem;
}

.text-box,.submit{
  border: 0;
  padding: .3rem;
  font-size: 1.5rem;
  outline: 0;
}

.text-box{
  min-width: 250px;
  padding-left: .4rem ;
  background-color: #f2f2f2;
}

.text-box:focus{
  background-color: #fff;
}

.submit{
  padding-left: .7rem;
  padding-right: .7rem;
  background-color: #ad3fdc;
  color: #fff;
  cursor: pointer;

  transition: background-color 300ms ease-out;
}

.submit:hover{
  background-color: #2ecc71;
}

.question-circle{
  color: #fff;
  margin-left: .5rem;
  cursor: pointer;
  font-size: 1rem;
}

.hint-notification{
  font-family: sans-serif;
  background: #000;
  color: #fff;
  width: 180px;
  font-size: .7rem;
  padding: .5rem;
  line-height: 1.5;
  border-radius: 10px;
  position: absolute;
  box-shadow: 0px 0px 8px rgba(155, 155, 155, 0.8) ;
  pointer-events: none;
  opacity: 0;
  transition: opacity 2s ease-out;
}



.hint-notification::after{
  content: "";
  display: block;
  height: 0;
  width: 0;
  /* background-color: red; */
  border: 12px solid transparent;
  border-bottom: 12px  solid black;
  position: absolute;
  top: -23px;
  left: 30px;
}

.process-info{
  margin-top: 2rem;
  padding: .5rem 1rem;
  background-color: rgb(245, 114, 114);
  border-radius: 8px;
  font-family: sans-serif;
  color:rgb(226, 41, 41) ;
  border: 3px solid rgb(226, 41, 41);
  opacity: 0;
  transition: opacity 1s ease-out;

}
.bookmark-container{
  padding-top: 5rem;
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.bookmark{
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: .5rem;
  margin: 2rem 1.5rem;
  background-color: #341242b3;
  color: #f2f2f2;
}

.bookmark-header{
  display: flex;
  justify-content: space-between;
  padding-bottom: .3rem;
  font-family: Dosis,sans-serif;
  font-weight: 600;
  border-bottom: 1px solid #f9eaff;
  color: #f9eaff;
}

.bookmark-logo{
  border-radius: 50%;
  padding-top: .5rem;
}

.bookmark-header .trash:hover{
  color: #c25fec;
}

.remove{
  animation: removeAnimation 700ms ease-out forwards;
}

@keyframes removeAnimation {
  0%{
    transform: scale(1);
  }
  20%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(0);
  }

}
/* footer */
.footer{
  margin-top: auto;
  padding: .3rem 1rem;
  background-color: rgb(8, 8, 86);
  border-radius: 10px 10px 0px 0px;

  position: fixed;
  bottom: 0;
  box-shadow: 0px -3px 8px rgba(255,255,255,.2);
  font-family: Dosis,sans-serif;
  color: #fff;
  font-weight: 500;
  text-align: center;
  font-size: .8rem;
  letter-spacing: 1px;
}

.footer a{
  color: #fff;
  text-decoration: none;
}

.footer p{
  padding: 0 0 .3rem 0;
}

.heart{
  color: rgb(243, 25, 25);
  font-size: 1.2rem;
}

.site-link{
  font-weight: 600;
}
.site-link:hover{
  text-decoration: underline;
}